.Reports{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width:1200px) {
    .Reports{
        justify-content: flex-start;
        margin-top: 2rem;
    }
    h1{
        margin-top: 6%;
    }
}

@media screen and (max-width:768px) {
    .Reports{
        align-items: center;
    }
}